<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
    <form method="POST" action="/process_login">
        <section class="vh-100 bg-image"
                 style="background-image: url('https://cdn.koddmagazine.com/media/mg/images/2022/05/ana-hefco-we-are-happy-here-credit-artsper-kodd-magazine-culture-oeuvre-lifestyle-1920x1080.jpeg');">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-4">SIGN IN</h2>
                                    <div class="d-flex justify-content-center mb-3" th:if="${param.error}" style="color: red; font-size: 19px;">Invalid username or password</div>
                                    <form>
                                        <div class="form-outline mb-4">
                                            <input type="text" id="form3Example1cg" name="username" class="form-control form-control-md"/>
                                            <label class="form-label" for="form3Example1cg">Your Name</label>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password" id="form3Example4cg" name="password" class="form-control form-control-md" />
                                            <label class="form-label" for="form3Example4cg">Password</label>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" value="LOGIN" class="btn btn-primary btn-rounded btn-lg" data-mdb-ripple-color="dark"/>
                                        </div>
                                        <br>
                                        <p class="text-center text-muted mt-0 mb-0">Don't have an account? <a th:href="@{/auth/registration}"
                                                                                                                class="fw-bold text-body"><u>Create account</u></a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>
</html>