<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
    <form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
        <section class="vh-100 bg-image"
                 style="background-image: url('https://images.wallpaperscraft.ru/image/single/arhitektura_zdanie_stekliannyj_135747_1920x1080.jpg');">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                                    <form>
                                        <div class="form-outline mb-4">
                                            <input type="text" id="form3Example1cg" name="name" class="form-control form-control-md" th:field="*{name}"/>
                                            <label class="form-label" for="form3Example1cg">Your Name</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="form3Example4cg" name="password" class="form-control form-control-md" />
                                            <label class="form-label" for="form3Example4cg">Password</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="form3Example4cdg" name="confirm-password" class="form-control form-control-md" />
                                            <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                                <input type="submit" value="REGISTER" class="btn btn-primary btn-rounded btn-lg" data-mdb-ripple-color="dark"/>
                                        </div>

                                        <p class="text-center text-muted mt-4 mb-0">Have already an account? <a th:href="@{/auth/login}"
                                                                                                                class="fw-bold text-body"><u>Login here</u></a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <input type="submit" value="register"/>
    </form>
</body>
</html>